@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-MediumItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic.woff2') format('woff2'),
        url('../fonts/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ThinItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BlackItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-LightItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

/* Кнопка бургера */

.nav-toggle {
    position: relative;
    padding: 10px;
    background: transparent;
    border: 1px solid transparent;
    margin: 7px 0;
    top: 40%;
    right: -20px;
    -webkit-transform: (-50%, -50%);
    transform: translate(-50%, -50%);
    width: fit-content;
    cursor: pointer;
}

.nav-toggle:focus {
    outline-width: 0;
}

.nav-toggle [class*='bar-'] {
    background: #000000;
    display: block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    height: 3px;
    width: 36px;
    margin-bottom: 6.2px;
    -webkit-transform-origin: 10% 42%;
    transform-origin: 14% 42%;
}

.benefits__img {
    margin-bottom: 60px;
    width: 100%;
}

.nav-toggle .bar-bot {
    margin-bottom: 0;
}

.opened .bar-top {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.opened .bar-mid {
    opacity: 0;
}

.opened .bar-bot {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.header {
    background-color: #FFFFFF;
    width: 100%;
}

.header__container {
    padding: 24px 30px;
    display: grid;
    grid-template-columns: 0fr 0.4fr 1fr 0.3fr;
    align-items: center;
    max-width: 1920px;
    margin: auto;
    gap: 20px;
}

.logo {
    font-size: 50px;
    line-height: 15px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(173, 14, 100);
    font-weight: 800;
}

.nav__ulist {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Montserrat";
    color: #1a1a1a;
    font-weight: bold;
    line-height: 3.333;
    transition: 0.3s;
}

.nav__link:hover {
    color: #c32860;
}

.tel__icon {
    background-color: #c32860;
    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 69px;
    height: 70px;
    margin-top: -35px;
}

.header__tel {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(23, 23, 39);
    font-weight: bold;
    line-height: 18px;
    white-space: nowrap;
}

.tell__container {
    display: flex;
    align-items: center;
    gap: 23px;
    justify-content: flex-end;
}

.hero__slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    background-image: url(../img/hero-background.png);
    background-repeat: no-repeat;
    background-position: 39% 94%;
}

.hero__description {
    padding-left: 185px;
    position: relative;
}

.hero__description::after {
    content: '';
    width: 2px;
    background-color: #4d4a6a;
    height: 100%;
    display: block;
    position: absolute;
    top: -90px;
    left: 80px;
    height: 120%;
}

.swiper-main {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.hero__img {
    max-width: 1050px;
    height: auto;
    object-fit: contain;
    user-select: none;
}

.hero {
    background-color: #14172d;
}

.title {
    font-size: 64px;
    font-family: "Montserrat", sans-serif;
    color: rgb(248, 248, 252);
    font-weight: bold;
    line-height: 1.123;
    text-align: left;
    margin-bottom: 50px;
}

.hero__minititle {
    font-size: 32px;
    font-family: "Montserrat";
    color: rgb(248, 248, 252);
    font-weight: bold;
    line-height: 1.333;
    text-align: left;
    margin-bottom: 75px;
}

.hero__text {
    font-size: 24px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 1.25;
    text-align: left;
    margin-bottom: 70px;
}

.hero__link {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    padding: 32px 36px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 25px;
    border: 2px solid red;
    border-image: linear-gradient(256.86deg, #7F0DD6 0.42%, #EC1B92 87.97%);
    width: fit-content;
    border-image-slice: 1;
}

.hero__link::after {
    content: '';
    background-image: url(../img/arow-hero.svg);
    background-size: 10px 11px;
    width: 10px;
    height: 11px;
    display: block;
}

.box {
    border-width: 2px;
    border-color: rgb(159, 147, 192);
    border-style: solid;
    position: absolute;
    left: 186px;
    top: 832px;
    width: 310px;
    height: 72px;
    z-index: 298;
}

.swiper-pagination--hero {
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    left: -45% !important;
    bottom: 80px !important;
    user-select: none;
}

.swiper-button-next--hero::after {
    content: '';
    background-image: url(../img/icon.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 13px;
    height: 13px;
    display: block;
}

.swiper-button-next--hero {
    top: 92% !important;
    left: 7% !important;
}

.promotion__left {
    max-width: 570px;
}

.promotion {
    padding: 90px 30px 200px 30px;
    background-image: url(../img/promotion-bg.png);
    background-repeat: no-repeat;
    background-position: 0 94%;
}

.promotion__container {
    max-width: 1550px;
    margin: auto;
    display: flex;
    margin-bottom: 160px;
    gap: 165px;
}

.title--promotion {
    font-size: 60px;
    color: rgb(36, 36, 36);
    margin-bottom: 45px;
}

.promotion__text {
    font-size: 34px;
    font-family: "Montserrat", sans-serif;
    color: rgb(25, 25, 26);
    font-weight: bold;
    line-height: 1.471;
    text-align: left;
    margin-bottom: 60px;
}

.promotion__link {
    font-size: 21px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding: 30px 80px;
    display: block;
    width: 100%;
    max-width: 280px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.promotion__link--left {
    color: #FFFFFF;
    background-color: #ad0e64;
}

.promotion__link--right {
    padding: 26px 76px;
    color: #1f223a;
    background-color: transparent;
    border: 4px solid #1f223a;
}

.promotion__link--left::after {
    content: '';
    background-image: url(../img/arow-hero.svg);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    display: block;
}

.promotion__link--right::after {
    content: '';
    background-image: url(../img/arow-hero-black.svg);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    display: block;
}

.promotion__links--container {
    gap: 20px;
    display: flex;
}

.promotion__card {
    padding: 45px 25px 35px 25px;
    border: 2px solid rgb(231, 231, 231);
    position: relative;
}

.promotion__card.promotion__card--color .promotion__number {
    color: rgb(173, 14, 100);
}

.promotion__card.promotion__card--color .promotion__title {
    color: rgb(173, 14, 100);
}

.promotion__card--color {
    border-image: linear-gradient(256.86deg, #7F0DD6 0.42%, #EC1B92 87.97%);
    border-image-slice: 1;
}

.promotion__number {
    font-size: 60px;
    font-family: "Montserrat", sans-serif;
    color: rgb(36, 36, 36);
    font-weight: bold;
    position: absolute;
    top: -20px;
    left: -10px;
    background-color: #FFFFFF;
    padding-right: 60px;
}

.promotion__number::before {
    content: '';
    background-color: #FFFFFF;
    position: absolute;
    width: 20px;
    height: 30px;
    top: 100%;
}

.promotion__title {
    font-size: 32px;
    font-family: "Montserrat", sans-serif;
    color: rgb(36, 36, 36);
    font-weight: bold;
    margin-bottom: 17px;
}

.promotion__description {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgb(41, 41, 41);
}

.promotion__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 120px;
    row-gap: 65px;
}

.promotion__markets {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 100px;
    row-gap: 60px;
    max-width: 1100px;
    margin: auto;
    align-items: center;
    justify-items: center;
}

.cases {
    background-color: #f3f2f3;
    padding: 80px 25px 150px 25px;
}

.cases__text {
    max-width: 940px;
    margin: auto;
}

.title--cases {
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    color: rgb(36, 36, 36);
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.cases__description {
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    color: rgb(36, 36, 36);
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}

.cases__link {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgb(173, 14, 100);
    font-weight: bold;
    text-align: center;
    display: block;
    margin-bottom: 75px;
    text-decoration: underline;
}

.cases__cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.cases__img {
    width: 100%;
    object-fit: contain;
}

.create__img img {
    width: 100%;
    object-fit: contain;
}

.create {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.create__description {
    padding: 70px 90px;
    background-color: #14172d;
    position: relative;
    background-image: url(../img/create-background.png);
    background-repeat: no-repeat;
    background-position: 100% 30%;
}

.title--create {
    margin-bottom: 60px;
}

.create__text {
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    color: rgb(175, 20, 104);
    font-weight: bold;
    line-height: 2;
    margin-bottom: 80px;
}

.create__link {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: 4px solid #FFFFFF;
    padding: 20px 34px;
}

.create__cases {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: absolute;
    bottom: 36px;
    right: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.create__cases::before {
    content: '';
    background-image: url(../img/cases.svg);
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: top;
    width: 50px;
    height: 50px;
    display: block;
}

.cooperation {
    padding: 90px 30px 80px 30px;
}

.cooperation__container {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 180px;
}

.title--cooperation {
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    color: rgb(36, 36, 36);
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 45px;
}

.cooperation__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    gap: 40px;
}

.cooperation__item {
    font-size: 21px;
    font-family: "Montserrat", sans-serif;
    color: rgb(22, 22, 22);
    line-height: 1.429;
    text-align: left;
    background-image: url(../img/check-cooperation.svg);
    background-position: 0 5px;
    background-repeat: no-repeat;
    background-size: 27px 20px;
    padding-left: 45px;
}

.cooperation__link {
    font-size: 21px;
    font-family: "Montserrat", sans-serif;
    color: #242424;
    font-weight: bold;
    padding: 23px 35px;
    border: 4px solid #242424;
}

.cooperation {
    background-image: url(../img/dots-background.png), url(../img/cooperation-square.png);
    background-repeat: no-repeat;
    background-position: 10% 30%, right 90%;
}

.result {
    background-color: #14172d;
    padding: 80px 30px 120px 30px;
    background-image: url(../img/result-background.png);
    background-repeat: no-repeat;
    background-position: 0 80%;
}

.title--result {
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    margin-bottom: 26px;
}

.result__minititle {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.result__swiper--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 34px 50px 30px 50px;
    gap: 55px;
}

.result__swiper {
    overflow-x: hidden;
    max-width: 1170px;
    margin: auto;
    border: 2px solid red;
    border-image: linear-gradient(256.86deg, #7F0DD6 0.42%, #EC1B92 87.97%);
    border-image-slice: 1;
}

.result__container {
    padding-right: 30px;
    padding-left: 30px;
}

.result__market {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgb(173, 14, 100);
    font-weight: bold;
    margin-bottom: 15px;
}

.result__description {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 28px;
}

.result__title {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 15px;
}

.result__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 38px;
    gap: 15px;
}

.result__item {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
}

.result__link {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 26px 56px;
    background-color: #ad0e64;
    display: block;
    width: fit-content;
}

.result__item {
    background-color: transparent;
    background-image: url(../img/check-result.svg);
    background-size: 17px 13px;
    background-repeat: no-repeat;
    padding-left: 24px;
    background-position: left center;
}

.result__swiper__container {
    max-width: 1300px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}

.swiper-button-prev-result::after {
    content: '';
    background-image: url(../img/result-arrow.svg);
    background-repeat: no-repeat;
    background-size: 45px 20px;
    width: 45px;
    height: 20px;
}

.swiper-button-next-result::after {
    content: '';
    background-image: url(../img/result-arrow.svg);
    background-repeat: no-repeat;
    background-size: 45px 20px;
    width: 45px;
    height: 20px;
    transform: rotate(180deg);
}

.question__container {
    background-image: url(../img/result-background.png);
    background-repeat: no-repeat;
    background-position: 0 334px;
    margin: auto;
    background-color: #14172d;
}

.question {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    max-width: 1920px;
    margin: auto;
    padding-left: 30px;
    justify-items: end;
}

.title--question {
    padding-top: 50px;
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 48px;
}

.accordeon__question {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.5;
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin-bottom: 10px;
    border-bottom: 2px solid #212546;
}

.accordeon__show {
    display: block;
    width: fit-content;
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(205, 40, 99);
    font-weight: bold;
    border: none;
    background-color: transparent;
    transition: 0.3s;
    cursor: pointer;
    padding: 0;
    margin-bottom: 10px;
}

.accordeon__hidden {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.5;
    opacity: 0;
    visibility: hidden;
    height: 0;
    border-top: 2px solid #212546;
    transition: 0.2s;
}

.accordeon__question.active .accordeon__hidden {
    opacity: 1;
    visibility: visible;
    height: fit-content;
    padding: 10px 0 25px 0;
    margin-top: 10px;
    transition: 0.5s;
}

.question__left {
    max-width: 620px;
    padding-bottom: 50px;
}

.question__link {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: block;
    width: fit-content;
    padding: 25px 34px;
    background-color: #ad0e64;
}

.accordeon__container {
    margin-bottom: 50px;
}

.question__right img {
    max-height: 870px;
    height: 100%;
}

.topical {
    max-width: 1600px;
    margin: auto;
    padding: 90px 30px 80px 30px;
}

.title--topical {
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    color: rgb(202, 39, 98);
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

.topical__container {
    padding: 80px 66px;
    border: 14px solid #ca2762;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 95px;
}

.card__title {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: rgb(22, 22, 38);
    font-weight: bold;
    margin-bottom: 10px;
}

.card__date {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: "Montserrat";
    color: rgb(126, 126, 128);
    font-weight: bold;
    display: block;
}

.card__img {
    width: 100%;
    max-height: 217px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.card__text {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: rgb(9, 9, 11);
    line-height: 1.2;
    margin-bottom: 30px;
    font-weight: 500;
}

.card__link {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgb(40, 40, 41);
    text-decoration: underline;
    transition: 0.3s;
    font-weight: 600;
}

.card__link:hover {
    color: #ad0e64;
}

.offer {
    background-color: #14172d;
}

.offer__container {
    max-width: 1360px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 85px 30px 40px;
}

.title--offer {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: rgb(252, 252, 252);
    font-weight: bold;
    line-height: 2;
    margin-bottom: 0;
}

.form {
    display: flex;
    gap: 22px;
}

.form__input {
    outline: none;
    border: none;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: rgb(106, 106, 111);
    line-height: 2.5;
    padding-left: 30px;
    padding-right: 30px;
}

.form__button {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgb(251, 252, 252);
    font-weight: bold;
    padding: 20px 44px;
    border: none;
    background-color: #c61a58;
    white-space: nowrap;
    cursor: pointer;
}

.footer {
    background-color: #fafbfb;
}

.footer__container {
    padding: 96px 30px 50px;
    max-width: 1600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.footer__logo {
    font-size: 44px;
    font-family: "Montserrat", sans-serif;
    color: rgb(19, 21, 36);
    margin-bottom: 30px;
    font-weight: 600;
    display: block;
    line-height: 1;
    width: fit-content;
}

.footer__background {
    height: 64px;
    width: 100%;
    background-color: #14172d;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 60px;
}

.footer__link {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgba(19, 21, 36, 0.941);
    font-weight: bold;
}

.footer__header {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgb(19, 21, 36);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.footer__services {
    margin-top: 18px;
}


.instagram {
    background-color: transparent;
    background-image: url(../img/instagram.svg);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: block;
}

.youtube {
    background-color: transparent;
    background-image: url(../img/youtube.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 25px;
    display: block;
}

.telegram {
    background-color: transparent;
    background-image: url(../img/telegram.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 25px;
    display: block;
}

.footer__list--socials {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 0;
}

.footer__link--address {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgba(19, 21, 36, 0.941);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer__link--address::before {
    content: '';
    background-color: transparent;
    background-image: url(../img/address.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: block;
    width: 20px;
    height: 20px;
}

.footer__link--tel {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: rgba(19, 21, 36, 0.941);
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer__link--tel::before {
    content: '';
    background-color: transparent;
    background-image: url(../img/phone.svg);
    background-repeat: no-repeat;
    background-size: 21px 21px;
    display: block;
    width: 21px;
    height: 21px;
}

.footer__link--mail {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer__link--mail::before {
    content: '';
    background-color: transparent;
    background-image: url(../img/mail.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: block;
    width: 20px;
    height: 20px;
}

.footer__copyright {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: rgba(109, 109, 110, 0.941);
    line-height: 1.333;
    text-align: left;
    font-weight: 500;
}

.footer__list--services {
    margin-bottom: 50px;
}

.services {
    padding: 70px 30px 90px;
}

.services__container {
    max-width: 1500px;
    margin: auto;
}

.title--services {
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    color: rgb(36, 36, 36);
    font-weight: bold;
    margin-bottom: 70px;
    text-align: center;
}

.services__cards {
    overflow-x: hidden;
    margin-bottom: 140px;
    position: relative;
}

.swiper-services {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 70px !important;
}

.slide--services {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 2) !important;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.services__item {
    min-height: 225px;
    width: 100%;
    padding: 25px 24px;
    border: 2px solid #e7e7e7;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.services__item::before {
    content: '';
    position: absolute;
    height: 2px;
    background-color: #FFFFFF;
    display: block;
    top: -2px;
    width: 32%;
    left: -2px;
}

.services__item::after {
    content: '';
    position: absolute;
    height: 38%;
    background-color: #FFFFFF;
    display: block;
    top: -2px;
    width: 2px;
    left: -2px;
}

.services__title {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: rgb(36, 36, 36);
    font-weight: bold;
    text-align: left;
    margin-bottom: 18px;
}

.services__text {
    font-size: 21px;
    font-family: "Montserrat", sans-serif;
    color: rgb(17, 17, 19);
    line-height: 1.143;
    text-align: left;
}

.services__link {
    font-size: 21px;
    font-family: "Montserrat";
    color: #ad0e64;
    border-bottom: 1px solid #ad0e64;
    width: fit-content;
    text-align: left;
    display: block;
}

.swiper-button-next:after {
    content: '' !important;
}

.swiper-button-prev:after {
    content: '' !important;
}

.swiper-scrollbar-drag {
    background-color: rgb(173, 14, 100) !important;
    border-radius: 0;
}

.swiper-scrollbar-drag {
    border-radius: 0 !important;
}

.swiper-horizontal>.swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
    width: 40% !important;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.title--performance {
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    color: rgb(36, 36, 36);
    font-weight: bold;
    font-style: italic;
    line-height: 1.333;
}

.performance {
    display: flex;
    margin-bottom: 110px;
}

.performance__container {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.performance__left {
    max-width: 670px;
}

.performance__container img {
    object-fit: contain;
}

.performance__text {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: rgb(32, 34, 40);
    font-style: italic;
    line-height: 1.25;
    text-align: left;
    margin-bottom: 25px;
}

.performance__name {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: rgb(32, 34, 40);
    font-weight: bold;
    line-height: 1.25;
    text-align: left;
    margin-bottom: 10px;
}

.performance__position {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgb(32, 34, 40);
    line-height: 1.667;
    text-align: left;
    display: block;
}

.performance__link {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: rgb(43, 45, 53);
    font-weight: bold;
    line-height: 1.25;
    padding: 27px 38px;
    border: 4px solid #242424;
    display: block;
    width: fit-content;
}

.performance__right img {
    margin-left: -74px;
}

.title--experience {
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    color: rgb(36, 36, 36);
    font-weight: bold;
    line-height: 1.44;
    text-align: center;
    margin-bottom: 20px;
}

.title--years {
    display: block;
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(36, 36, 36);
    font-weight: bold;
    line-height: 2.4;
    text-align: center;
    margin-bottom: 40px;
}

.experience__timeline {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 200px;
    row-gap: 146px;
    position: relative;
}

.experience__timeline::before {
    content: '';
    position: absolute;
    top: -15px;
    bottom: 0;
    height: 3px;
    width: 100%;
    box-sizing: border-box;
    background-color: #6b6a6a;
    margin: auto;
}

.experience__card {
    font-size: 21px;
    font-family: "Montserrat", sans-serif;
    color: rgb(9, 9, 11);
    line-height: 1.143;
    text-align: left;
    max-width: 275px;
    position: relative;
}

.experience__year {
    position: absolute;
    text-align: center;
    display: block;
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    color: rgb(36, 36, 36);
    font-weight: bold;
    top: -48px;
    left: 20%;
}

.experience__year--three {
    left: 4%;
}

.experience__year::before {
    content: '';
    height: 30px;
    width: 3px;
    background-color: #cd2863;
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
}

.experience__year--three::before {
    background-color: #242424;
}

.experience__year--two {
    top: 119%;
    color: #af1049;
}

.experience__year--two::before {
    top: -90%;
}

.experience__year--four {
    top: 119%;
    left: -16%;
}

.experience__year--four::before {
    top: -90%;
}

.time-one {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

.time-two {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 26px 23px;
    padding-top: 0;
    background-color: #af1049;
    color: #FFFFFF;
    margin-left: 218px;
}

.time-three {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}

.time-four {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-left: 312px;
}

.time-five {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
}